@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }

  body {
    font-size: 16px;
    background-color: #f6f6f6;
  }
}

@layer utilities {
  .primary-gradient {
    background-image: linear-gradient(
      271deg,
      #a0e9ff 30%,
      #a162e8 50%,
      #f093b0 70%,
      #edca85 94%
    );
  }
}
